html {
    background-color: green;
    font-size: 20px;
}

ul {

}

li {

}

ol, ul {

    padding: 10px 40px;
    background: red;
    border: 2px solid orange;
    margin-left: 20px;

}