@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

body {
    background: url(../../html/img/sakura_fubuki.png) center center / 200px auto repeat #6638B6;
}

.zutomaruki-special {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.zutomaruki-main {
    width: 58.5%;
    max-width: 1125px;
    margin: 2% auto 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.zutomaruki-main .cup {
    width: 58%;
    max-width: 650px;
    margin: -9% auto 0;
}

.zutomaruki-right {
    position: absolute;
    top: 50%;
    right: 3.2%;
    width: 10.8%;
    max-width: 208px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.zutomaruki-right .logo {
    width: 58.6%;
    max-width: 123px;
    margin: 47px auto 0;
}

.zutomaruki-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 16.4%;
    max-width: 315px;
    background-color: #00e13b;
}

.zutomaruki-left .zh {
    width: 23.8%;
    max-width: 75px;
    margin: 0 auto;
    padding: 41.2% 0 31.2%;
}

.zutomaruki-left .circle {
    position: absolute;
    top: 13.0%;
    left: 0;
    right: 0;
    margin: auto;
    width: 62.8%;
    max-width: 198px;
    animation: rotation 20s linear infinite;
    font-size: 0;
}

.zutomaruki-left .text {
    width: 64.7%;
    max-width: 204px;
    margin: 0 auto;
    padding-bottom: 20.2%;
}

.zutomaruki-copyright {
    width: 27.7%;
    max-width: 532px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2.5%;
    margin: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {

    .zutomaruki-special {
        height: 100%;
    }
    .zutomaruki-main {
        width: 100%;
        max-width: 100%;
        margin: 6% auto 0;
        position: initial;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .zutomaruki-main h1 {
        width: 85%;
        margin: 0 auto;
    }
    .zutomaruki-main .cup {
        width: 114%;
        max-width: 114%;
        margin: -18% auto 0 -7%;
    }
    .zutomaruki-subWrap-sp {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .zutomaruki-right {
        position: relative;
        top: initial;
        bottom: initial;
        right: 4.2%;
        width: 62.2%;
        max-width: 100%;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .zutomaruki-right .logo {
        position: absolute;
        top: 0;
        right: 0;
        width: 16.8%;
        max-width: 100%;
        margin: 0;
    }
    .zutomaruki-left {
        position: relative;
        left: initial;
        bottom: initial;
        width: 29%;
        max-width: 100%;
    }
    .zutomaruki-copyright {
        width: 49.2%;
        max-width: 100%;
        position: initial;
        margin: -22% auto 5.5%;
    }
}